@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --font-texts: font-family: 'Ubuntu', sans-serif;
    --font-titles: font-family: 'Montserrat', sans-serif;
    --orange: #dd8832;
    --yellow: #f7ee40;
    --pink: #c41f66;
    --purple: #4c3f94;
    --purple2: #14133D;
    --background-color: #4c3f94;
    --filtro: #4c3f94da;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
}

h1,h2,h3,h4,h5,h6,button,label,th{
    font-family: var(--font-titles);
}

p,input,textarea,li,select,td{
    font-family: var(--font-texts);
}

.btn-melopido{
    background: var(--background-color);
    color: #ffffff;
    padding: 10px 50px;
    font-size: 22px;
    border-radius: 40px;
    transition: .5s;
    max-width: 100%;
}
.btn-melopido:hover{
    background: var(--pink);
    color: #fff;
}
.btn-melopido-b {
    background: var(--purple2);
    padding: 10px 50px;
    font-size: 22px;
    max-width: 100%;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;    
    display: block;
    text-align: center;
    transition: .4s;
}

.btn-melopido-b:hover{
    background: var(--purple);
    color: #fff;
}

.control-melopido{
    padding: 12px 40px;
    font-size: 18px;
    border-radius: 15px;
}
.control-melopido:focus,.control-melopido:active{
    box-shadow: 0 0 0 transparent;
    border: 1px solid var(--background-color);
}
header{
    width: 100%;
    position: relative;
    padding-top: 30px;
    
}

header nav{
    width: 96%;
    margin: 0 auto;
    border-radius:24px ;
}

nav.bg-melopido{
    background: var(--background-color);
    color: #fff;
    padding: 4px 0;
}

nav #navbarNav .navbar-nav .nav-link{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    font-family: var(--font-texts);
}
nav .navbar-brand img{
    height: 70px;
}

nav #navbarNav{
    padding-left: 10%;
    width: 100%;
    justify-content: flex-end;
}

nav #navbarNav .menu-general li{
    margin: 0 10px;
}

nav #navbarNav .menu-general a{
    border-bottom: 1px solid transparent;
    transition: .4s;
    display: block;
}

nav #navbarNav .menu-general a.active, nav #navbarNav .menu-general a:hover{
    border-bottom: 1px solid var(--yellow);
    color: var(--yellow);
}

nav #navbarNav .menu-user{
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px solid #756e6e;
}

nav #navbarNav .menu-user li{
    margin: 0px 4px;
    min-width: 140px;
    text-align: center;
}
nav #navbarNav .menu-user a.nav-link{
    border: 1px solid #fff;
    border-radius: 40px;
    /* background: linear-gradient(210deg, var(--orange), var(--pink), var(--purple)); */
    /* background: var(--purple); */
    background: var(--background-color);
    transition: .5s;
    padding: 6px 20px !important;
    width: 100%;
    display: block;
}

nav #navbarNav .menu-user a:hover{
    
    background: var(--pink);
}

main {
    width: 100%;
    position: relative;
    min-height: 95vh;
    padding-top: 60px;
    padding-bottom: 100px;
    box-shadow: rgba(212, 212, 212, 0.3) 0px 20px 30px -20px;
    z-index: 100;
    background: #fff;
    margin-bottom: 130px;
}

main .cont-carousel{
    padding-top: 40px;
    cursor: pointer;
}

main .cont-carousel h2{
    font-size: 48px;
    font-weight: 700;
    color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

main .cont-carousel h2 b{
    background: var(--background-color);
    color: #fff;
}

main .cont-carousel p{
    font-size: 22px;
    color: #666;
    font-weight: 300;
}

main a.btn-melopido{
    background: var(--background-color);
    color: #ffffff;
    padding: 10px 50px;
    font-size: 22px;
    border-radius: 40px;
    margin-top: 40px;
    transition: .5s;
}

main a.btn-melopido i{
    margin-left: 10px;
}

main a.btn-melopido:hover{
    background: var(--pink);
    color: #fff;
}

main .cont-stadisticas{
    margin-top: 80px;
}

main .cont-stadisticas .icono{
    position: relative;
    margin-bottom: 20px;
}

main .cont-stadisticas .icono i{
    font-size: 26px;
    color: var(--background-color);
}

main .cont-stadisticas .icono::after{
    width: 80%;
    height: 2px;
    background: var(--background-color);
    content: "";
    position: absolute;
    top: 50%;
    right: 8%;
}

main .cont-stadisticas h3{
    font-size: 32px;
    font-weight: 700;
    color: var(--background-color);
}

main .cont-stadisticas p{
    font-size: 16px;
    color: #666;
}
main .cont-cards{
    padding-left: 60px;
}
main .cont-cards .left{
    padding-top: 160px;
}
main .cont-cards .right{
    padding-top: 40px;
}

main .cont-cards .card-melopido{
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    max-width: 274px;
    max-height: 200px;
    box-shadow: 0px 4px 10px -5px #c6c6c6;
}

main .cont-cards .card-melopido::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: var(--background-color);
    opacity: .8;
    transition: .5s;
}

main .cont-cards .card-melopido img{
    width: 110%;
    transition: .5s;
    z-index: 0;

}
main .cont-cards .card-melopido h3{
    position: absolute;
    z-index: 999;
    bottom: 10px;
    font-size: 20px;
    left: 15px;
    font-weight: 400;
    z-index: 999;
    color: #fff;
    text-shadow: var(--background-color) 4px 0 4px;
}

main .cont-cards .card-melopido:hover{
    box-shadow: 0 0 0 0 transparent;
}
main .cont-cards .card-melopido:hover img{
 width: 120%;
}

main .cont-cards .card-melopido:hover::before{
    height: 0;
}

footer{
    z-index: -101;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: var(--background-color);
    padding: 40px 0;
    color: #fff;
}

footer .row-footer{
    align-items: center;
}

footer .logo-footer img{
    width: 200px;
}

footer p{
    margin-bottom: 0;
}
footer p a{
    text-decoration: none;
    color: #fff;
}

footer p a:hover{
    text-decoration: underline;
}

footer a.redes i{
    font-size: 30px;
    color: #fff;
    transition: .4s;
}

footer a.redes {
    display: inline-block;
    margin: 0 10px;
    transition: .4S;
}
footer a.redes:hover{
    transform: translateY(-4px);
}
footer a.redes:hover i{
    color: var(--yellow);
}

/* LOGIN */

#login{
    width: 100%;
    min-height: 100vh;

}

#login .row-login{
    display: flex;
}

#login .row-login .form-login{
    width: 35%;
    padding: 6% 100px;
    text-align: center;
}

#login .form-login h2{
    color: var(--background-color);
    font-family: var(--font-titles);
    font-size: 48px;
    font-weight: 700;
}
#login .form-login form{
    text-align: left;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 60px;
}
#login .form-login form label{
    color: var(--background-color);
    font-size: 18px;
}

#login .form-login p{
    font-size: 22px;
    color: #666;
    font-weight: 300;
}

#login .form-login .btn-melopido{
    width: 100%;
    margin-top: 20px;
    font-size: 20PX;
    
}

#login form a.descripcion{
    display: block;
    text-align: right;
    color: var(--purple);
    margin-top: 5px;
}
#login .suscribirse{
    width: 100%;
    
    padding: 20px 0;
    border-top: 1px solid #c4c4c4;
    max-width: 450px;
    margin: 20px auto;
}
#login .suscribirse h3{
    font-size: 20px;
    font-family: var(--font-texts);
    color: #666;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
}
#login .row-login{
    overflow: hidden;
}
#login .row-login .carousel-login{
    width: 65%;
    min-height: 100vh;
    background: url("../img/login-bakcground-3.jpg");
    background-size: cover;
    background-position-x: right;
    padding-left: 60px;
    padding-top: 30px;
    position: relative;
}
#login .carousel-login .logo{
    display: block;    
    position: relative;
    z-index: 9999;
}
#login .carousel-login .logo img{
    max-width: 250px;
}

#login .carousel-login::after{
    width: 100%;
    height: 100%;
    background: var(--filtro);
    content: "";
    position: absolute;
    left: 0;
    top: 0;

}

#login #carouselLoginIndicators{
    padding-top: 40%;
    position: relative;
    z-index: 999;
}

#login #carouselLoginIndicators .carousel-indicators{
    position: absolute;
    bottom: -100px;
    left: 0;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 0;
}
#login #carouselLoginIndicators .carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    margin-right: 10px;
}
#login #carouselLoginIndicators .carousel-indicators button.active{
    background: #ffffff;
}

#carouselLoginIndicators .carousel-item {
    padding-right: 320px;
}

#carouselLoginIndicators .carousel-item h2 {
    color: #ffffff;
    font-family: var(--font-titles);
    margin-bottom: 50px;
    font-size: 44px;
    font-weight: 700;
}

#carouselLoginIndicators .carousel-item p{
    color: #fff;
    font-size: 18px;

}

.logo-responsive{
    display: none;
}



/* Responsive */

@media screen and (min-width: 320px) and (max-width: 990px){
    nav .navbar-brand img{
        height: 58px;
    }
    header nav{
        position: fixed !important;
        top: 20px;
        left: 2%;
        z-index: 999;
        left: 0;
        width: 100%;
        border-radius: 0;
    }
    header nav::before{
        width: 104%;
        height: 20px;
        top: -20px;
        left: 0;
        content: "";
        position: absolute;
        background: #f1f4f6;
    }

    nav button.navbar-toggler:focus{
        box-shadow: 0 0 0 0 transparent;
         
    }
    nav button.navbar-toggler{
        border: 1px solid #fff;
    }
    nav button i{
        color: var(--yellow);
    }
    nav #navbarNav{
        padding-left: 0;
    }
    main{
        padding-bottom: 120px;
        height: auto;
        padding-top: 90px;
    }
    main .cont-cards{
        padding-left: 0;
    }
    main .cont-cards .card-melopido{
        max-width: 80%;
        margin: 15px auto;

    }
    main .cont-cards .right{
        padding-top: 0;
    }
    nav #navbarNav .menu-user{
        padding-left: 0;
        border-left: 0;
        border-top: 1px solid #756e6e;
        padding-top: 10px;
    }
    nav #navbarNav .menu-user li{
        margin: 10px 4px;
    }
    main .cont-carousel h2{
        font-size: 38px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1180px){
    #login .row-login .form-login{
        width: 55%;
        padding: 10% 30px;
    }
    #login .row-login .carousel-login{
        width: 45%;
    }
    #carouselLoginIndicators .carousel-item h2{
        font-size: 28px;
    }
    #carouselLoginIndicators .carousel-item{
        padding-right: 20px;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 767px){
    #login .row-login .carousel-login{
        display: none;
    }
    #login .row-login .form-login{
        width: 100%;
        padding: 10%;
    }
    .logo-responsive{
        display: block;
        margin-bottom: 60px;
        background: var(--purple);
        border-radius: 30px;
    }
    .logo-responsive img{
        height: 58px;
    }
    #login .form-login h2{
        font-size: 38px;

    }
    #login .form-login p{
        font-size: 18px;
    }
    #login .form-login form{
        margin-top: 30px;
    }
}